.detail-bottom-font-size
{
    font-size: 0.8em;
}
.bottom-info{
    position:absolute;
    bottom: 0px;
    width: 100%;
    background-color: #101010;
    color: silver;
}
.padding-3{
    padding: 3px;
}
.body-list{
    margin: 15px;
    margin-bottom: 120px;
    color: silver;
}