<div class="padding-3 body-list">
    <app-detail-item *ngFor="let item of data" [data]="item"></app-detail-item>
</div>
<div class="bottom-info padding-3">
    RESUMEN:<br>
    <div class="row detail-bottom-font-size">
        <div class="col col-5">Inversion:</div>
        <div class="col col-5">$ 1000000.00:</div>
        <div class="col col-2">(<span style="color: rgb(43, 119, 241);">90%</span>)</div>
    </div>
    <div class="row detail-bottom-font-size">
        <div class="col col-5">Garantias disponibles:</div>
        <div class="col col-5">$ 10000.00:</div>
        <div class="col col-2">(<span style="color: rgb(43, 119, 241);">10%</span>)</div>
    </div>
    <div class="row detail-bottom-font-size">
        <div class="col col-5">Beneficio/Perdida:</div>
        <div class="col col-5">$ 12000.00:</div>
        <div class="col col-2">(<span style="color:limegreen;">12%</span>)</div>
    </div>
</div>
