<mat-sidenav-container class="back-color">
    <div class="padding-3 body-list">
        <app-detail-item *ngFor="let item of data" [data]="item" [onDetailView]="onDetailView" [detailView]="detailView"></app-detail-item>
    </div>
    <div class="bottom-info padding-3">
        RESUMEN:<br>
        <div class="row detail-bottom-font-size">
            <div class="col col-5">Inversion:</div>
            <div class="col col-5">$ 1000000.00:</div>
            <div class="col col-2">(<span style="color: rgb(43, 119, 241);">90%</span>)</div>
        </div>
        <div class="row detail-bottom-font-size">
            <div class="col col-5">Garantias disponibles:</div>
            <div class="col col-5">$ 10000.00:</div>
            <div class="col col-2">(<span style="color: rgb(43, 119, 241);">10%</span>)</div>
        </div>
        <div class="row detail-bottom-font-size">
            <div class="col col-5">Beneficio/Perdida:</div>
            <div class="col col-5">$ 12000.00:</div>
            <div class="col col-2">(<span style="color:limegreen;">12%</span>)</div>
        </div>
    </div>
    <mat-sidenav #detailView position="end">
        <div *ngIf="selectedItem == null" >
            No selceted Item!
        </div>
        <div *ngIf="selectedItem != null"  class="detail-view col">
            <div>
                {{selectedItem.Producto}}
            </div>
            <div>
                ESTADO: {{selectedItem.Estado}}
            </div>
            <div>
                LOTAJE: {{selectedItem.Rotaje}}
            </div>
            <div>
                L/S(LONG/SHORT): {{selectedItem.LS}}
            </div>
            <div>
                PRECIO APERTURA: {{selectedItem.PercioApertura}}
            </div>
            <div>
                META (TAKE PROFIT): {{selectedItem.Meta}}
            </div>
            <div>
                STOP/LOST: {{selectedItem.StopLost}}%
            </div>
            <div>
                FECHA APERTURA: {{selectedItem.FechaApertura}}
            </div>
            <div>
                NUMERO ORDEN: {{selectedItem.NumeroOrden}}
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>