<div  fxLayout="column" fxLayoutAlign="center center" class="centered" style="max-width: 600px;padding: 15px;">
    <button mat-raised-button routerLink="client" class="admin-btn">INGRESO NUEVO CLIENTE</button>
    <button mat-raised-button routerLink="updatepl" class="admin-btn">ACTUALIZACION P/L CUENTA GENERAL</button>
    <button mat-raised-button routerLink="transaction" class="admin-btn">TRANSACCIONES AUMENTO/RETIRO CAPITAL</button>
    <button mat-raised-button routerLink="briefcase" class="admin-btn">INGRESO NUEVO BRIEFCASE</button>
    <button mat-raised-button  class="admin-btn" (click)="gotoDashboard()">
        Ir al panel de control
        </button>
</div>
