// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-primary: mat-palette($mat-indigo);
$angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

$angular-theme: mat-dark-theme((
  color: (
    primary: $angular-primary,
    accent: $angular-accent,
    warn: $angular-warn
  )
));

$custom-background-color: #000000e8;

$background: map-get($angular-theme, background);
$background: map_merge($background, (background: $custom-background-color));
$angular-theme: map_merge($angular-theme, (background: $background));

$custom-foreground-color: #ffffff;

$foreground: map-get($angular-theme, foreground);
$foreground: map_merge($foreground, (foreground: $custom-foreground-color));
$angular-theme: map_merge($angular-theme, (foreground: $foreground));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-theme);

@import " ../../../node_modules/bootstrap/scss/bootstrap.scss";


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: #101010;
}

.mat-tab-label{
  width: 18px;
  min-width: 18px;
}
.mat-tab-labels {
  justify-content:center;
  }
@media only screen and (max-width: 600px) {
	.mat-tab-labels {
		justify-content: space-around;
	  }
}

.mat-tab-body-wrapper{
  color:white;
  height: 100%;
}
.mat-icon{
  vertical-align: middle;
}
.my-tab-group{
  height:100%;
}
.pie-label{
  fill: lightgray;
}
.mat-drawer{
  background-color: #4c4a4ae0;
  color: white;
}
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgb(189 189 189 / 0%);
} 
.centered{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}