<div class="update-pl">
    <button mat-raised-button class="back-btn" (click)="gotoBack()">
    Back
    </button>
    <form fxLayout="column" [formGroup]="submitForm" class="update-form centered" (ngSubmit)="onSubmit()">
        <mat-form-field style="text-align: center;">
            <mat-label>VALOR DE LA CUENTA GENERAL</mat-label>
            <input matInput type="number" value=""  formControlName="account_value" required>
        </mat-form-field>
        <button mat-raised-button type="submit" class="back-btn">Submit</button>
    </form>
</div>
