<div class="new-client">
    <button mat-raised-button class="back-btn" (click)="gotoBack()">
    Back
    </button>
    <form fxLayout="column" style="color: silver;" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>NUMERO DE ORDEN</mat-label>
            <input matInput value="" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>ESTADO(dropdown)</mat-label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>PRODUCTO</mat-label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>TICKET</mat-label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>DERIVADO</mat-label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>LOTAJE</mat-label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>SALDO ACTUAL</mat-label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>INVERSION</mat-label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>MARGEN DE MANTENIMIENTO</mat-label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>(LONG/SHORT)</mat-label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>PRECIO APERTURA</mat-label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>META</mat-label>
            <input  matInput value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>STOP/LOST</mat-label>
            <input matInput value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>FECHA APERTURA OPERACIÓN</mat-label>
            <input type="date" matInput value="">
        </mat-form-field>
        <button mat-raised-button type="submit" class="back-btn">Submit</button>
    </form>
</div>
