.history-list{
    margin: 15px;
    color: silver;
}
.padding-3{
    padding: 3px;
}
.search-form{
    width: 100%;
}
.search-container{
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    color: silver;
    max-width: 600px;
    margin:auto;
}