
<div class="history-item col">
    <div style="color: #d063ff;">
        {{data.Producto}}
    </div>
    <div>
        Estado: <span style="color: goldenrod;">{{data.Estado}}</span>
    </div>
    <div>
        FECHA APERTURA: {{data.FechaApertura}}
    </div>
    <div>
        FECHA CIERRE: {{data.FechaCierre}}
    </div>
    <div>
        Beneficio/Perdida: <span style="color: limegreen;">${{data.BeneficioPerdida}}</span> (<span style="color: limegreen;">{{data.percent}}%</span>)
    </div>
</div>
